.stars {
  display: inline-block;
  cursor: pointer;

  &:hover {
    .star path {
      fill: $color-accent !important;
      stroke: $color-accent !important;
    }
  }

  .star {
    float: left;

    path {
      fill: transparent;
      stroke: $text-color--muted;
    }

    &:hover ~ .star {

      path {
        fill: transparent !important;
        stroke: $text-color--muted !important;
      }
    }
  }

  &[data-stars] {
    .star path {
      fill: $color-accent;
      stroke: $color-accent;
    }
  }

  &[data-stars="1"] {
    .star:nth-child(1) ~ .star path {
      fill: transparent;
      stroke: $text-color--muted;
    }
  }

  &[data-stars="2"] {
    .star:nth-child(2) ~ .star path {
      fill: transparent;
      stroke: $text-color--muted;
    }
  }

  &[data-stars="3"] {
    .star:nth-child(3) ~ .star path {
      fill: transparent;
      stroke: $text-color--muted;
    }
  }

  &[data-stars="4"] {
    .star:nth-child(4) ~ .star path {
      fill: transparent;
      stroke: $text-color--muted;
    }
  }

  &[data-stars="5"] {
    .star:nth-child(5) ~ .star path {
      fill: transparent;
      stroke: $text-color--muted;
    }
  }
}