article.sign-in
  button.sign-in__cancel-action-btn(type="button"): span
  header.sign-in__header
    .sign-in__cover
      svg(width="60" height="60"): use(xlink:href="#captains-hat")
    h1.sign-in__title Вход в систему
    p.sign-in__desc Для оформления заказа,<br>пожалуйста, войдите в систему
  .sign-in__content
    form.sign-in__form.form
      .form__group
        label.form__label(for="sign-in-login")
        input.form__input(type="text" placeholder="Логин" id="sign-in-login")
      .form__group.form__group--delimiter
        label.form__label(for="sign-in-password")
        input.form__input(type="text" placeholder="Пароль" id="sign-in-password")
      .form__group
        +btn('Войти и продолжить', 'full-width')
      .form__group
        +btn('Зарегистрироваться', 'full-width')(href="#" id="go-to-registration" class="form__btn")
  .sign-in__footer
    .sign-in__subtitle: span Войти с помощью
    include ../social/social