.sign-in {
  position: relative;
  background-color: $bg-color--default;
  border-radius: $border-radius * 2;
  padding: 20px;
  width: 300px;
  z-index: 50;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-sm) {
    padding: 30px;
    width: 320px;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate3d(-50%,0,0);
  }

  &__header {
    text-align: center;
  }

  &__cover {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    color: $color-accent;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__subtitle {
    text-align: center;
    color: $text-color--lighter;
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: currentColor;
      left: 0;
      top: 0.75rem;
      z-index: -1;
    }

    span {
      background-color: $bg-color--default;
      display: inline-block;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 9rem;
    }
  }

  &__desc {
    color: $text-color--muted;
    margin-bottom: 2rem;
  }

  &__form {
    margin-bottom: 2rem;
  }

  &__footer {
    text-align: center;
  }

  &__cancel-action-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    span {
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid $blue;
      border-right: 0;
      border-bottom: 0;
      transform: rotate3d(0, 0, 1, -45deg) translate(0.125rem,0.125rem);
    }
  }
}