$social-link-width:          30px;
$social-link-height:         30px;

.social {
  display: inline-block;

  &__list {
    margin-bottom: 0;
    padding-top: 0.25rem;

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1px;

      @supports (display: flex) {
        margin-right: 0.25rem;
      }
    }
  }

  &__link {
    color: $text-color--lighter;
    display: inline-block;
    width: $social-link-width;
    height: $social-link-height;
    border-radius: $social-link-width / 2;
    text-align: center;
    border: 1px solid currentColor;
    position: relative;

    svg {
      fill: currentColor;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &:hover,
    &:active {
      background-color: $blue;
      color: $text-color--lightest;
      border: 1px solid $blue;
      box-shadow: 0 3px 10px 0 rgba(0,150,255,0.20);
    }
  }
}