.social
  ul.social__list
    li.social__item
      a.social__link(href="#" target="_blank" rel="noopener")
        svg(width="15" height="9"): use(xlink:href="#vk-icon")
    li.social__item
      a.social__link(href="#" target="_blank" rel="noopener")
        svg(width="6" height="15"): use(xlink:href="#facebook-icon")
    li.social__item
      a.social__link(href="#" target="_blank" rel="noopener")
        svg(width="14" height="11"): use(xlink:href="#twitter-icon")