.main-nav
  .main-nav__header
    button.main-nav__close-btn(type="button"): span
    //- .main-nav__avatar.avatar
      .avatar__cover
        img(src='https://avatars.mds.yandex.net/get-kino-vod-users-avatar/34118/1255413-53-685222.jpg/120x190', alt='Avatar')
      span.avatar__name Джек Воробей
  .main-nav__type-of-service
    h3.main-nav__type-of-service-title Сервис
    ul.main-nav__type-of-service-list
      li.main-nav__type-of-service-item
        a.main-nav__type-of-service-link(href="#")
          figure
            svg(width="42" height="30"): use(xlink:href="#taxi")
            figcaption Водное<br>Такси
      li.main-nav__type-of-service-item
        a.main-nav__type-of-service-link(href="#")
          figure
            svg(width="28" height="30"): use(xlink:href="#rent--time")
            figcaption Аренда<br>на Время
      li.main-nav__type-of-service-item.main-nav__type-of-service-item--is-active
        .main-nav__type-of-service-link
          figure
            svg(width="44" height="30"): use(xlink:href="#rent--route")
            figcaption Аренда<br>по Маршруту
      li.main-nav__type-of-service-item
        a.main-nav__type-of-service-link(href="#")
          figure
            svg(width="28" height="30"): use(xlink:href="#rent--time")
            figcaption Экскурсии по<br>расписанию

  nav.main-nav__nav
    ul.main-nav__nav-list
      li.main-nav__nav-item
        a.main-nav__nav-link(href="#") Главная
      li.main-nav__nav-item
        a.main-nav__nav-link(href="#") Владельцам судов
      li.main-nav__nav-item
        a.main-nav__nav-link(href="#") Контакты
  .main-nav__footer
    .main-nav__footer-free-call-btn
      a.btn.btn--ghost-btn(href='tel:+78002007777') Free call
        span 8 (800) 200 7777
    .main-nav__footer-social
      include ../social/social