.main-nav {
  width: 320px;
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: $bg-color--default;
  color: $text-color--lighter;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  z-index: 12;
  padding-bottom: 5rem;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0.25s;

  @media (min-width: $screen-sm) {
    position: fixed;
    bottom: 0;
  }

  &__header {
    min-height: 4rem;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: 0.4rem;
    left: 0.25rem;
    cursor: pointer;
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    span {
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid $blue;
      border-right: 0;
      border-bottom: 0;
      transform: rotate3d(0, 0, 1, -45deg) translate(0.125rem,0.125rem);
    }
  }

  &__type-of-service-title {
    font-size: 1.25rem;
    color: $blue;
    position: relative;
    padding-left: 0.6rem;
    margin-bottom: 1.25rem;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color: $color-accent;
      width: 3px;
      height: 100%;
    }
  }

  &__type-of-service-list {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    text-align: center;

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__type-of-service-link {
    color: currentColor;
    display: block;
    width: 100%;
    padding: 0.9rem 0.5rem;
    border-radius: $border-radius;
    background-color: $bg-color--default;
    transition: all 0.1s ease-in-out 0s;

    figure {
      margin: 0;
      width: 100%;
    }

    svg {
      fill: currentColor;
      display: inline-block;
    }

    figcaption {
      font-size: $font-size--smaller;
      font-weight: 700;
      width: 100%;
    }
  }

  &__type-of-service-item {
    float: left;
    width: 50%;
    position: relative;
    cursor: pointer;
    border-radius: $border-radius;

    @supports (display: flex) {
      display: flex;
      flex: 1 0 50%;
      align-items: center;
      justify-content: center;
    }

    &:first-child {

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: $border-color;
        z-index: 1;
      }

      &::before {
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1px;
        transform: translate(0,50%);
      }

      &::after {
        width: 1px;
        height: 80%;
        right: 0;
        top: 10%;
        transform: translate(50%,0);
      }
    }

    &:last-child {

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: $border-color;
        z-index: 1;
      }

      &::before {
        bottom: 10%;
        left: 0;
        width: 1px;
        height: 80%;
        transform: translate(-50%,0);
      }

      &::after {
        width: 80%;
        height: 1px;
        left: 10%;
        top: 0;
        transform: translate(0,-50%);
      }
    }

    &:hover,
    &:active {
      color: $color-accent;
    }

    &--is-active {
      color: $color-accent;
      box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20),
                  0 0 0 1px $border-color;
      z-index: 20;
      cursor: default;
    }
  }

  &__nav-link {
    color: currentColor;
    font-weight: 700;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    border-top: 1px solid $border-color;
    min-height: 3rem;
    padding-bottom: 10px;
    padding-top: 10px;

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__footer-free-call-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;

    .btn--ghost-btn {
      box-shadow: none;
    }
  }

  &__footer-social {
    display: inline-block;
    vertical-align: middle;
  }

  &--is-active {
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0s;
  }
}