.close-up-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  span {
    width: 100%;
    height: 2px;
    background-color: $blue;
    display: inline-block;
    transform: rotate3d(0,0,1,45deg);
    position: relative;
    vertical-align: middle;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: inherit;
      width: 100%;
      height: 2px;
      display: inline-block;
      transform: rotate3d(0,0,1,-90deg);
    }
  }
}