.map-helper
  ul.map-helper__list
    li.map-helper__item
      button.map-helper__btn(type="button")
        svg(width="24" height="24"): use(xlink:href="#icon--question")
    li.map-helper__item
      button.map-helper__btn(type="button")
        svg(width="20" height="20"): use(xlink:href="#icon--resize")
    li.map-helper__item
      button.map-helper__btn(type="button")
        svg(width="24" height="24"): use(xlink:href="#icon--blue-dot-point")