.map-helper {

  &__list {
    margin: 0;

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 140px;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }

    @supports (display: flex) {

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    box-shadow: $box-shadow--blue;
    background-color: $bg-color--default;
    position: relative;
    cursor: pointer;
    padding: 0;

    svg {
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}