.promo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/promo-bg.png);
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__inner {
    width: 100%;
    min-height: 100vh;
    background-image: $bg-gradient;
    color: $text-color--lightest;

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__logo {
    margin-bottom: 1rem;

    svg {
      width: 223px;
      height: 60px;
    }

    @media (min-width: $screen-sm) {

      svg {
        width: 297px;
        height: 80px;
      }
    }
  }

  &__slogan {
    font-size: 1.25rem;
    margin: 0 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}