.boat-full-info
  .boat-full-info__wrap
    .boat-full-info__close-btn: span
    .boat-full-info__inner
      .boat-full-info__photo-gallery
        .boat-full-info__photo-gallery-slider.gallery-slider.owl-carousel.owl-theme
          a.gallery-slider__item(href="img/boat-full-info-photo-1.jpg" data-fancybox="gallery"): img(src="img/boat-full-info-photo-1.jpg", alt="")
          a.gallery-slider__item(href="img/boat-full-info-photo-2.jpg" data-fancybox="gallery"): img(src="img/boat-full-info-photo-2.jpg", alt="")
          a.gallery-slider__item(href="img/boat-full-info-photo-3.jpg" data-fancybox="gallery"): img(src="img/boat-full-info-photo-3.jpg", alt="")
          a.gallery-slider__item(href="img/boat-full-info-photo-4.jpg" data-fancybox="gallery"): img(src="img/boat-full-info-photo-4.jpg", alt="")
          a.gallery-slider__item(href="img/boat-full-info-photo-5.jpg" data-fancybox="gallery"): img(src="img/boat-full-info-photo-5.jpg", alt="")
      .boat-full-info__options
        .boat-full-info__options-group
          .boat-full-info__options-subgroup
            .boat-full-info__options-subgroup-content
              h2.boat-full-info__name Мария Тереза 3000UXD
            .boat-full-info__options-subgroup-content
              .boat-full-info__number-of-passengers
                svg.blue-dot(width="12" height="14"): use(xlink:href="#icon--man")
                | до 5 пассажиров
        .boat-full-info__options-group
          .boat-full-info__options-subgroup
            .boat-full-info__options-subgroup-content
              dl.boat-full-info__rent
                dt.boat-full-info__rent-title Аренда судна
                dd.boat-full-info__rent-desc 3 500 ₽/час
          .boat-full-info__options-subgroup
            .boat-full-info__options-subgroup-content
              dl.boat-full-info__cost
                dt.boat-full-info__cost-title Итого:
                dd.boat-full-info__cost-desc 13 500 ₽
      .boat-full-info__desc-text
        p В просторной и светлой яхте «Мария Тереза 3000UXD» есть все для комфортного отдыха. Три каюты, оборудованные ванными комнатами, флайбридж с мини-баром (включены электрогриль, холодильник, раковина) и главный салон с развлекательным центром. Так как последний станет центром тусовки, верфь предлагает широкие возможности по его усовершенствованию с учетом пожеланий владельца.
        p Топлива на «Мария Тереза 3000UXD» хватит на длинный круизный день при скорости в 20 узлов. <br>Такая лодка отлично приживется в местах, где нет проблем с дозаправкой.
      .boat-full-info__total-rent-cost
        .boat-full-info__total-rent-cost-title Итоговая стоимость:
        .boat-full-info__total-rent-cost-result 13 500 ₽
      .boat-full-info__select
        +btn('Выбрать', 'full-width')