.boat-full-info {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,112,191,0.8);

  &__wrap {
    background-color: $bg-color--default;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate3d(-50%,0,0);
    z-index: 100;
    border-radius: $border-radius;
    width: 300px;
    height: 100%;

    @media (min-width: $screen-md) {
      width: 960px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    z-index: 13;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    span {
      width: 100%;
      height: 2px;
      background-color: $white;
      display: inline-block;
      transform: rotate3d(0,0,1,45deg);
      position: relative;
      vertical-align: middle;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: inherit;
        width: 100%;
        height: 2px;
        display: inline-block;
        transform: rotate3d(0,0,1,-90deg);
      }
    }
  }

  &__photo-gallery {
    height: 170px;

    @media (min-width: $screen-md) {
      height: 540px;
    }
  }

  &__options {
    color: $text-color--muted;
    font-weight: 600;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__options-group {
    float: left;
    width: 100%;
    padding: 0.75rem 0;
    position: relative;

    &:first-child {
      border-bottom: 1px solid $border-color;
    }

    @media (min-width: $screen-sm) {
      width: 50%;
    }

    @media (min-width: $screen-md) {
      padding: 0.75rem 10px;

      &:not(:last-child) {

        &::after {
          position: absolute;
          content: '';
          background-color: $border-color;
          top: 15%;
          width: 1px;
          height: 70%;
          right: 0;
        }
      }

      &:last-child {

        &::after {
          position: absolute;
          content: '';
          background-color: $border-color;
          top: 15%;
          width: 1px;
          height: 70%;
          left: 50%;
        }
      }
    }
  }

  &__options-subgroup-content {
    float: left;
    width: 100%;
    padding: 0 10px;

    &:not(:last-child) {
      text-align: left;
    }

    @media (min-width: $screen-md) {

      &:last-child {
        text-align: right;
      }
    }

    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }

  &__name {
    font-size: 1.25rem;
  }

  &__number-of-passengers {
    vertical-align: middle;
    line-height: 1.5rem;

    svg {
      margin-right: 0.75rem;
      vertical-align: middle;
    }
  }

  &__rent,
  &__cost {
    margin-bottom: 0;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__cost {
    color: $color-accent;
  }

  &__rent-title,
  &__cost-title {
    float: left;
    width: 50%;
    margin: 0;
    line-height: 1.5rem;
    vertical-align: top;
    text-align: left;
  }

  &__cost-title {

    @media (min-width: $screen-md) {
      padding-left: 10px;
    }
  }

  &__rent-desc,
  &__cost-desc {
    float: left;
    width: 50%;
    margin: 0;
    line-height: 1.5rem;
    vertical-align: top;
    text-align: right;
  }

  &__rent-desc {
    color: $blue;

    @media (min-width: $screen-md) {
      padding-right: 10px;
    }
  }

  &__desc-text {
    padding: 1rem 10px;
    color: $text-color--muted;
    font-size: 0.875rem;
    border-top: 1px solid $border-color;

    p {
      line-height: 1.25rem;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    @media (min-width: $screen-md) {
      padding: 1rem 20px;
    }
  }

  &__total-rent-cost {
    min-height: 50px;
    border-top: 1px solid $border-color;
    color: $color-accent;
    font-weight: 600;
    padding: 1rem 10px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    @media (min-width: $screen-md) {
      padding: 1rem 20px;
    }
  }

  &__total-rent-cost-title {
    float: left;
    width: 70%;
    text-align: left;
  }

  &__total-rent-cost-result {
    float: left;
    width: 30%;
    text-align: right;
  }

  &__select {

    .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &--is-active {
    visibility: visible;
  }
}