mixin pageHeader ()

  if (title === 'Главная')
    header.page-header(role='banner')
      .page-header__left-side
        button.page-header__hamburger.hamburger(type='button'): span
        .page-header__avatar.avatar
          .avatar__cover
            img(src='https://avatars.mds.yandex.net/get-kino-vod-users-avatar/34118/1255413-53-685222.jpg/120x190', alt='Avatar')
          span.avatar__name Джек Воробей
      .page-header__right-side
        .page-header__free-call-btn
          a.btn.btn--ghost-btn(href='tel:+78002007777') Free call
            span 8 (800) 200 7777

  else
    header.page-header(role='banner')
      .page-header__left-side
        button.page-header__hamburger.hamburger(type='button'): span
        .page-header__avatar.avatar
          .avatar__cover
            img(src='https://avatars.mds.yandex.net/get-kino-vod-users-avatar/34118/1255413-53-685222.jpg/120x190', alt='Avatar')
          span.avatar__name Джек Воробей
      .page-header__right-side
        .page-header__free-call-btn
          a.btn.btn--ghost-btn(href='tel:+78002007777') Free call
            span 8 (800) 200 7777
      .page-header__logo.logo
        a(href="index.html")
          svg(width="148" height="40"): use(xlink:href="#logo-icon")