.page-header {
  min-height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  color: $text-color--lightest;
  padding: 1.25rem;
  @include clothoid-gradient($color: $blue, $alpha-from: 1, $alpha-to: 0);
  z-index: 2;

  @supports (display: flex) {
    display: flex;
    flex-flow: row nowrap;
  }

  &__left-side {
    flex: 1 0 70%;
  }

  &__right-side {
    flex: 1 0 30%;
    text-align: right;
  }

  &__hamburger {
    display: inline-block;
    margin-right: 1rem;
  }

  &__avatar {
    display: inline-block;
  }

  &__free-call-btn {
    display: none;

    @media (min-width: $screen-sm) {
      display: inline-block;
    }
  }

  &__logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}