mixin boatSelect ()
  .boat-select.card&attributes(attributes)!= text
    .boat-select__inner
      figure
        .boat-select__cover
          svg(width="61" height="37"): use(xlink:href="#rent--route")
        figcaption.boat-select__caption Выберите судно
