$avatar-width:               30px;
$avatar-height:              30px;

.avatar {
  vertical-align: middle;
  color: $text-color--lightest;

  &__cover {
    display: inline-block;
    width: $avatar-width;
    height: $avatar-height;
    border-radius: $avatar-width / 2;
    overflow: hidden;
    border: 1px solid currentColor;
    margin-right: 0.125rem;
    vertical-align: middle;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: $font-size--smaller;
    font-weight: 700;
    vertical-align: middle;
  }
}