.btn {
  position: relative;
  display: inline-block;
  background-color: $color-accent;
  background-image: none;
  color: $text-color--lightest;
  margin: 0;
  padding: 1em 1.75em;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  box-shadow: 0 0 0 1px $color-accent;

  &--secondary {
    background-color: $text-color--lighter;
    color: $text-color--lightest;
    box-shadow: none;
  }

  &--ghost-btn {
    font-size: $font-size--smaller;
    background-color: transparent;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,150,255,0.20);
    padding: 0.45em 0.75em;
    font-weight: 700;
    box-shadow: 0 0 0 1px current;

    span {
      font-weight: 400;
      padding-left: 0.5rem;
    }
  }

  &--full-width {
    width: 100%;
  }

  &[type="submit"] {
    width: 100%;
  }
}