$height: 70px;
$width: 300px;

.date-picker {
  width: $width;
  height: auto;
  max-height: $height;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s 0s ease-in-out;

  .input {
    width: 100px;
    height: $height;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1rem;
    z-index: 1;

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      padding-top: 0;
      justify-content: center;
      align-items: center;
    }

    svg {
      margin-bottom: 0.5rem;
    }

    .result {
      display: block;
      vertical-align: top;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: $blue;
      box-sizing: border-box;
      background-color: $text-color--lightest;
    }
  }

  .calendar {
    position: relative;
    width: 100%;
    background: $bg-color--default;
    border-radius: 0px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .ui-datepicker-inline {
    position: relative;
    width: 100%;
  }

  .ui-datepicker-header {
    height: 100%;
    line-height: 50px;
    background: $bg-color--default;
    color: $blue;
    margin-bottom: 10px;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
  }

  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;

    &:after {
      transform: rotate(45deg);
      margin: -43px 0px 0px 8px;
    }
  }

  .ui-datepicker-next {
    float: right;
    margin-right: 12px;

    &:after {
      transform: rotate(-135deg);
      margin: -43px 0px 0px 6px;
    }
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      border-left: 2px solid $blue;
      border-bottom: 2px solid $blue;
    }
  }

  .ui-datepicker-title {
    text-align: center;
    font-weight: 600;
  }

  .ui-datepicker-calendar {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border-collapse: collapse;

    thead {

      tr {

        th {

          span {
            display: block;
            width: 100%;
            color: $text-color--muted;
            margin-bottom: 5px;
            font-size: 13px;
          }
        }
      }
    }
  }

  .ui-datepicker-other-month .ui-state-default {
    color: $text-color--lighter;
  }

  .ui-state-default {
    display: block;
    text-decoration: none;
    color: $text-color--muted;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
  }

  .ui-state-highlight {
    color: $color-accent;
  }

  .ui-state-active {
    color: $text-color--lightest;
    background-color: $blue;
    border-radius: 10px;
  }

  &.open {
    max-height: 430px;
  }
}
