.pier-select {
  position: relative;
  cursor: default;
  box-shadow: $box-shadow--border;
  border-radius: $border-radius;
  background-color: $bg-color--default;
  overflow: hidden;
  transition: all 0.25s ease-in-out 0s;
  margin-bottom: 10px;

  &__inner {
    min-height: 70px;
    text-align: center;
    color: $text-color--muted;
    padding: 1rem;
    padding-top: 1.4rem;
    border-radius: $border-radius;

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
    }
  }

  svg {
    vertical-align: middle;
  }

  &__caption {
    font-size: $font-size--smaller;
    font-weight: 700;
    padding-left: 10px;
    width: 80%;
  }

  &.is-active {
    box-shadow: $box-shadow--gray;
  }
}