mixin pierSelect ()
  .pier-select&attributes(attributes)!= text
    .pier-select__inner
      svg(width="14" height="20"): use(xlink:href="#anchor--gray")
      span.pier-select__caption Выберите причал отправления
