.order-is-completed {
  @extend .sign-in;
  padding: 30px;
  text-align: center;
  display: none;

  @media (min-width: $screen-sm) {
    width: 540px;
  }

  &__header {
    @extend .sign-in__header;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
  }

  &__cover {
    @extend .sign-in__cover;
  }

  &__title {
    @extend .sign-in__title;
  }

  &__subtitle {
    @extend .sign-in__title;
    font-size: 1rem;
    margin-bottom: 30px;
  }

  &__desc {
    @extend .sign-in__desc;
    margin-bottom: #{$line-height + 'rem'};

    span {
      color: $blue;
      font-weight: 600;
    }
  }

  &__footer {}

  &__feedback-grade {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__feedback-title {
    color: $blue;
  }

  &__feedback-desc {
    color: $text-color--muted;
  }

  &__feedback-text {
    margin-bottom: 20px;
  }

  &__feedback-order-btn {
    margin: -29px;
    padding-top: 30px;

    .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}