.order-is-completed
  +closeUpBtn
  header.order-is-completed__header
    .order-is-completed__cover
      svg(width="60" height="60"): use(xlink:href="#captains-hat")
    h1.order-is-completed__title Ваш заказ успешно оформлен!
    p.order-is-completed__desc
      span Джек Воробей,
      | спасибо, что воспользовались сервисом TakeBoat. Чек и информация по созданному заказу уже доставлена на ваш e-mail, также вы можете посмотреть ее в
      span личном кабинете.
    h2.order-is-completed__subtitle Приятного путешествия и до новых встреч!

  .order-is-completed__content
    h3.order-is-completed__feedback-title Пожалуйста, оцените работу сервиса!
    p.order-is-completed__feedback-desc Это очень поможет нам сделать его лучше для вас.
  footer.order-is-completed__footer
    form.order-is-completed__feedback-form.form
      .order-is-completed__feedback-grade
        .stars(data-stars="3")
          svg.star.rating(height="40" width="40" viewBox="0 0 46 44" data-rating="1")
            path(d="M19 30L7.24429495 36.1803399l2.24513985-13.09017-9.51056513-9.2705098 13.14327783-1.90983L19 0l5.8778525 11.9098301 13.1432778 1.90983-9.5105651 9.2705098 2.2451398 13.09017z" fill-rule="nonzero")
          svg.star.rating(height="40" width="40" viewBox="0 0 46 44" data-rating="2")
            path(d="M19 30L7.24429495 36.1803399l2.24513985-13.09017-9.51056513-9.2705098 13.14327783-1.90983L19 0l5.8778525 11.9098301 13.1432778 1.90983-9.5105651 9.2705098 2.2451398 13.09017z" fill-rule="nonzero")
          svg.star.rating(height="40" width="40" viewBox="0 0 46 44" data-rating="3")
            path(d="M19 30L7.24429495 36.1803399l2.24513985-13.09017-9.51056513-9.2705098 13.14327783-1.90983L19 0l5.8778525 11.9098301 13.1432778 1.90983-9.5105651 9.2705098 2.2451398 13.09017z" fill-rule="nonzero")
          svg.star.rating(height="40" width="40" viewBox="0 0 46 44" data-rating="4")
            path(d="M19 30L7.24429495 36.1803399l2.24513985-13.09017-9.51056513-9.2705098 13.14327783-1.90983L19 0l5.8778525 11.9098301 13.1432778 1.90983-9.5105651 9.2705098 2.2451398 13.09017z" fill-rule="nonzero")
          svg.star.rating(height="40" width="40" viewBox="0 0 46 44" data-rating="5")
            path(d="M19 30L7.24429495 36.1803399l2.24513985-13.09017-9.51056513-9.2705098 13.14327783-1.90983L19 0l5.8778525 11.9098301 13.1432778 1.90983-9.5105651 9.2705098 2.2451398 13.09017z" fill-rule="nonzero")
      .order-is-completed__feedback-text
        textarea(placeholder="Напишите ваши пожелания")
      .order-is-completed__feedback-order-btn
        +btn('Спасибо!', 'full-width')(href="#" type="button")
