mixin routeShortDesc ()
  ul.route-short-desc
    li.route-short-desc__item
      .route-short-desc__date-picker
        .date-picker
          .input
            svg(width="15" height="15"): use(xlink:href="#icon--calendar")
            .result: span Дата
          .calendar
    li.route-short-desc__item
      .route-short-desc__time-picker
        svg(width="15" height="15"): use(xlink:href="#icon--clock")
        input.timepicker(type="text" name="timepicker")
    li.route-short-desc__item
      .route-short-desc__people-picker
        form(action="")
          label(for="people-count"): svg(width="14" height="15"): use(xlink:href="#icon--man")
          select#people-count.people-count(name="people-count")
            option(value="hide") 4 чел.
            option(value="1") 1 чел.
            option(value="2") 2 чел.
            option(value="3") 3 чел.
            option(value="4") 4 чел.
            option(value="5") 5 чел.
            option(value="6") 6 чел.
            option(value="7") 7 чел.