.route-short-desc {
  width: 100%;
  box-shadow: $box-shadow--border;
  border-radius: $border-radius;
  margin-bottom: 10px;
  // overflow: hidden;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__item {
    position: relative;
    display: inline-block;
    float: left;
    width: 33.333333%;
    text-align: center;
    color: $blue;
    min-height: 70px;
    z-index: 10;

    &:not(:last-child) {

      &:after {
        position: absolute;
        content: '';
        background-color: $border-color;
        z-index: 1;
        width: 1px;
        height: 50px;
        right: 0;
        transform: translate3d(50%,0,0);
        top: 10px;
        z-index: 20;
      }
    }
  }

  &__item-inner {
    width: 100%;
    height: 70px;

    padding-top: 0.875rem;
  }

  &__date-picker {
    position: relative;
  }

  &__cover {
    height: 1rem;
    margin-bottom: 0.5rem;
  }

  &__caption {
    font-size: $font-size--smaller;
    font-weight: 700;
    z-index: 2;
  }

  &__time-picker {
    width: 100%;
    height: 70px;

    svg {
      margin-bottom: 0.5rem;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__people-picker {

    form {
      padding-top: 0.75rem;
      width: 100%;
      max-height: 70px;
    }

    label {
      display: block;
      margin-bottom: 0.3rem;
    }

    select {
      background: transparent;
      border: 0;
      font-size: 0.875rem;
      color: $blue;
      font-weight: 600;
    }
  }
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 30px;
  z-index: 100;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  height: 35px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $blue;
  font-weight: 600;
  font-size: 0.875rem;
}

.select-options {
  height: 130px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $bg-color--default;
  border: 1px solid $border-color;
  border-radius: 10px;

  li {
    color: $blue;
    margin: 0;
    padding: 6px 0;

    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }

    &:hover {
      color: $text-color;
      background-color: $border-color;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}