.type-of-service-form {

  &__group {
    border: 1px solid $border-color;
    border-radius: 10px;
    color: $text-color--lighter;
    margin-bottom: 2rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    @media (min-width: $screen-sm) {

      @supports (display: flex) {
        flex-flow: row nowrap;
      }
    }
  }

  &__label {
    display: block;
    position: relative;
    height: 100px;
    width: 50%;
    cursor: pointer;
    float: left;
    width: 50%;

    &:hover {

      .type-of-service-form__desc {
        color: $color-accent;
      }
    }

    @media (max-width: ($screen-sm - 1)) {

      &:first-child {

        &::before,
        &::after {
          position: absolute;
          content: '';
          background-color: $border-color;
          z-index: 1;
        }

        &::before {
          bottom: 0;
          left: 10%;
          width: 80%;
          height: 1px;
        }

        &::after {
          width: 1px;
          height: 80%;
          right: 0;
          top: 10%;
        }
      }

      &:last-child {

        &::before,
        &::after {
          position: absolute;
          content: '';
          background-color: $border-color;
          z-index: 1;
        }

        &::before {
          bottom: 10%;
          left: 0;
          width: 1px;
          height: 80%;
        }

        &::after {
          width: 80%;
          height: 1px;
          left: 10%;
          top: 0;
        }
      }
    }

    @media (min-width: $screen-sm) {
      width: 25%;

      &:not(:last-child) {

        &::after {
          position: absolute;
          content: '';
          width: 1px;
          height: 80%;
          right: 0;
          top: 10%;
          background-color: $border-color;
        }
      }
    }
  }

  &__input {
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $bg-color--default;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    margin: 0;
    transition: all 0.15s ease-out 0s;
    border: 0;

    &:checked {
      box-shadow: 0 3px 10px 0 rgba(0,0,0,0.20), 0 0 0 1px $border-color;
      z-index: 10;

      & ~ .type-of-service-form__desc {
        color: $color-accent;
        z-index: 10;
      }
    }
  }

  &__desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-size: $font-size--smaller;
    font-weight: 700;
    padding-top: 0.875rem;
    transition: all 0.15s ease-out 0s;

    svg {
      fill: currentColor;
      margin-bottom: 0.5rem;
    }

    > div {
      width: 100%;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}