mixin serviceFormType(width, height, symbol)
  label.type-of-service-form__label
    input.type-of-service-form__input(type="radio" name="type-of-services")
    .type-of-service-form__desc
      svg(width=width height=height): use(xlink:href=symbol)
      block

mixin serviceForm()
  form.type-of-service-form
    .type-of-service-form__group
      +serviceFormType('42', '30', '#taxi')
        div Водное<br>Такси
      +serviceFormType('28', '30', '#rent--time')
        div Аренда<br>на Время
      +serviceFormType('44', '30', '#rent--route')
        div Аренда<br>по Маршруту
      +serviceFormType('28', '30', '#rent--time')
        div Экскурсии по<br>расписанию
    block
