mixin switchFrom ()
  .switch
    input#male.switch__input(name="switch" type="radio" checked)
    label.switch__label(for="male") Мужчина
    input#female.switch__input(name="switch" type="radio")
    label.switch__label(for="female") Женщина
    .switch__indicator