.switch {
  position: relative;
  width: 280px;
  font-size: 0.875rem;
  color: $text-color--muted;
  font-weight: 600;

  @supports (display: flex) {
    display: flex;
    flex-flow: row nowrap;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3rem;
    background: $bg-color--default;
    border-radius: 10px;
    box-shadow: 0 0 0 1px $border-color;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  @media (min-width: $screen-sm) {
    width: 210px;

    @supports (display: flex) {
      display: inline-flex;
    }
  }

  &__label {
    display: inline-block;
    float: left;
    width: 50%;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color: $text-color--muted;
  }

  &__input {

    &:not(:checked),
    &:checked {
      display: none;
    }

    &#male:checked ~ label[for="male"],
    &#female:checked ~ label[for="female"] {
      color: $color-accent;
    }

    &#male:checked ~ .switch__indicator {
    transform: translate3d(0,0,0);
    }

    &#female:checked ~ .switch__indicator {
      transform: translate3d(140px,0,0);

      @media (min-width: $screen-sm) {
        transform: translate3d(105px,0,0);
      }
    }
  }

  &__indicator {
    width: 50%;
    height: 3rem;
    position: absolute;
    box-shadow: 0 0 0 1px $border-color;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 10px;
    transition: transform 0.6s cubic-bezier(.02,.94,.09,.97);
  }
}