include ../blocks/page-header/page-header
include ../blocks/close-up-btn/close-up-btn
include ../blocks/select-type-of-service/select-type-of-service
include ../blocks/type-of-service-form/type-of-service-form
include ../blocks/selected/selected
include ../blocks/btn/btn
include ../blocks/map-section/map-section
include ../blocks/route-short-desc/route-short-desc
include ../blocks/route-select/route-select
include ../blocks/boat-select/boat-select
include ../blocks/pier-select/pier-select
include ../blocks/route-card/route-card
include ../blocks/boat-card/boat-card
include ../blocks/pier-card/pier-card
include ../blocks/form/form
include ../blocks/switch/switch