.map-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-image: url(../img/map-example.png);
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__inner {
  //   width: 100%;
  //   min-height: 100%;
  //   background-image: $bg-gradient--lighter;
    // z-index: 2;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  }

  &__helper {
    position: absolute;
    left: 50%;
    bottom: 1.25rem;
    transform: translate(-50%, 0);
    z-index: 10;
  }

  &__map {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}