.route-select {
  @extend .card;
  margin-bottom: 10px;

  &__inner {
    text-align: center;
    color: $text-color--muted;
    padding: 10px;
    width: 100%;
    min-height: 100px;

    figure {
      width: 100%;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__cover {
    margin-bottom: 0.25rem;

    svg {
      fill: currentColor;
    }
  }

  &__caption {
    font-size: $font-size--smaller;
    font-weight: 700;
  }
}