mixin routeSelect ()
  .route-select.card&attributes(attributes)!= text
    .route-select__inner
      figure
        .route-select__cover
          svg(width="61" height="37"): use(xlink:href="#rent--route")
        figcaption.route-select__caption Выберите маршрут
