.order {
  position: absolute;
  top: 2rem;
  left: 0;
  transform: translate3d(0,0,0);
  background-color: $bg-color--default;
  border-radius: $border-radius * 2;
  padding: 10px;
  width: 320px;
  z-index: 50;
  display: none;

  @media (min-width: $screen-sm) {
    display: block;
  }

  &__title {
    color: $blue;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 10px;

    & > div {
      display: block;
    }
  }

  &__result {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    margin: 10px 0;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__result-title {
    float: left;
    width: 70%;
    margin: 0;
    text-align: left;
    color: $text-color--muted;
  }

  &__result-desc {
    float: left;
    width: 30%;
    margin: 0;
    text-align: right;
    color: $color-accent;
  }
}