.order
  .order__header
    h2.order__title Аренда по маршруту
  ul.order__list
    li.order__item
      +routeShortDesc
    li.order__item
      +routeCard('Круговой обзорный', 45)(data-object="route" data-route="first")
    li.order__item
      +boatCard('Мария Тереза 3000 UXD', 5, 13000)(data-object="boat" data-boat="first-boat")
    li.order__item
      +pierCard('Автоматический выгодный причал', 'Бесплатно')(data-object="pier" data-pier="first-pier")
  dl.order__result
    dt.order__result-title Итоговая стоимость
    dd.order__result-desc 14 000