.card {
  position: relative;
  cursor: default;
  min-height: 100px;
  box-shadow: $box-shadow--border;
  border-radius: $border-radius;
  // background-color: $bg-color--default;
  overflow: hidden;
  transition: all 0.25s ease-in-out 0s;

  &:hover,
  &:active,
  &.is-active {
    border: 0;
    box-shadow: $box-shadow--gray;
  }
}