.selected {
  background-color: $bg-color--default;
  border-radius: $border-radius * 2;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  padding-top: 1.4rem;
  width: 320px;
  min-height: 10rem;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0.25s;

  @media (min-width: $screen-sm) {
    position: fixed;
    top: 4rem;
  }

  &__close-btn {
    position: absolute;
    top: 0.75rem;
    right: 0;
    transform: translateX(125%);
    background-color: inherit;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    box-shadow: $box-shadow--gray;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxwYXRoIHN0cm9rZS13aWR0aD0iMiIgZD0iTTcgMS4yNjE5MDVMMiA2LjVsNSA1LjIzODA5NSIgc3Ryb2tlPSIjMDA3MEJGIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 44% 50%;
    background-size: 10px;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0.25s;
    outline: none;
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__cancel-last-action {
    position: absolute;
    top: 1.5rem;
    left: 0.75rem;
    display: none;

    svg {
      fill: $blue;
    }

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__title {
    color: $blue;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__desc-text {
    text-align: center;
    color: $color-accent;
    font-weight: 700;
    font-size: $font-size--smaller;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__total-cost {
    font-size: $font-size--smaller;
    color: $text-color--muted;
    font-weight: 700;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__total-cost-title {
    text-align: left;
    padding-left: 10px;
  }

  &__total-cost-result {
    padding-right: 10px;
    text-align: right;
    color: $color-accent;
  }

  &--is-active {
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0s;

    .selected__close-btn {
      transform: translateX(50%);
      transition: transform 0.5s cubic-bezier(.86,.13,.2,.91) 0s;
    }
  }
}