.timepicker {
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: $blue;
  font-size: 0.875rem;
  font-weight: 600;
  outline: 0;
  z-index: 2;
}

.wickedpicker {
  width: 154px;
  height: 50px;
  border-radius: 10px;
  z-index: 10;
  transform: translate3d(-27px,14px,0);

  &__title {
    display: none;
  }

  &__controls {
    padding: 0;

    .wickedpicker__controls__control--separator {
      line-height: 50px;
      font-size: 1.25rem;
      font-weight: 600;
      color: $blue;

      span {
        // display: block;
        // transform: translate3d(0,12px,0);
      }
    }

    // Strange BEM Structure
    &__control {

      &:nth-child(1) { // left
        position: absolute;
        top: 0;
        left: 0;
        border-right: 1px solid $border-color;

        span.wickedpicker__controls__control-up,
        span.wickedpicker__controls__control-down {
          font-size: 10px;
          height: 25px;
          margin: 0;

          &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid $blue;
            border-bottom: 0;
            border-right: 0;
            left: 50%;
            top: 50%;
            margin: 0;
          }
        }

        span.wickedpicker__controls__control-up {

          &::before {
            transform:
              translate3d(-50%,-50%,0)
              rotate3d(0,0,1,45deg);
          }
        }

        span.wickedpicker__controls__control-down {
          position: relative;

          &::before {
            transform:
              translate3d(-50%,-50%,0)
              rotate3d(0,0,1,-135deg);
          }

          &::after {
            position: absolute;
            content: "";
            background-color: $border-color;
            height: 1px;
            width: 80%;
            top: 0;
            left: 10%;
          }
        }

        span.wickedpicker__controls__control--hours {
          position: absolute;
          content: '';
          top: 50%;
          left: 60px;
          transform: translate3d(-50%,-50%,0);
          font-size: 1.25rem;
          font-weight: 600;
          color: $blue;
          outline: none;
        }
      }

      &:nth-child(3) { // Right
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid $border-color;

        span.wickedpicker__controls__control-up,
        span.wickedpicker__controls__control-down {
          font-size: 10px;
          height: 25px;
          margin: 0;

          &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border: 2px solid $blue;
            border-bottom: 0;
            border-right: 0;
            left: 50%;
            top: 50%;
            margin: 0;
          }
        }

        span.wickedpicker__controls__control-up {

          &::before {
            transform:
              translate3d(-50%,-50%,0)
              rotate3d(0,0,1,45deg);
          }
        }

        span.wickedpicker__controls__control-down {
          position: relative;

          &::before {
            transform:
              translate3d(-50%,-50%,0)
              rotate3d(0,0,1,-135deg);
          }

          &::after {
            position: absolute;
            content: "";
            background-color: $border-color;
            height: 1px;
            width: 80%;
            top: 0;
            left: 10%;
          }
        }

        .wickedpicker__controls__control--minutes {
          position: absolute;
          top: 50%;
          right: 60px;
          transform: translate3d(50%,-50%,0);
          font-size: 1.25rem;
          font-weight: 600;
          color: $blue;
          outline: none;
        }
      }

      &:last-child {
        display: none;
      }
    }
  }
}