.pier-card {
  position: relative;
  cursor: default;
  box-shadow: $box-shadow--border;
  border-radius: $border-radius;
  background-color: $bg-color--default;
  overflow: hidden;
  transition: all 0.25s ease-in-out 0s;
  margin-bottom: 10px;
  display: none;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__inner {
    @extend .route-card__inner;
    min-height: 70px;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    @extend .route-card__title;
    font-size: $font-size--smaller;
    margin-bottom: 0.85rem;

    &::after {
      bottom: -0.55rem;
    }
  }

  &__cost {
    font-size: $font-size--smaller;
    color: $color-accent;
    font-weight: 700;

    &--blue {
      color: $blue;
    }
  }

  &__select-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: $color-accent;
    color: $text-color--lightest;
    font-size: $font-size--smaller;
    font-weight: 700;
    padding: 0.35em 0.9em;
    border-radius: $border-radius * 0.7;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  &:hover,
  &:active,
  &.is-active {
    box-shadow: $box-shadow--gray;

    .pier-card__select-btn {
      visibility: visible;
      opacity: 1;
    }
  }
}