mixin pierCard (title, cost)

  if (cost === 'Бесплатно')
    .pier-card&attributes(attributes)!= text
      .pier-card__inner
        .pier-card__title #{title}
        .pier-card__cost.pier-card__cost--blue #{cost}
        button.pier-card__select-btn(type="button") Выбрать

  else
    .pier-card&attributes(attributes)!= text
      .pier-card__inner
        .pier-card__icon: svg(width="16" height="23"): use(xlink:href="#anchor--blue")
        .pier-card__title #{title}
        .pier-card__cost + #{cost} ₽
        button.pier-card__select-btn(type="button") Выбрать