.boat-card {
  @extend .card;
  display: none;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__inner {
    width: 100%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 100%;
    border-radius: $border-radius;
    // background:
    //   linear-gradient(
    //     to right,
    //     white,
    //     white 45%,
    //     transparent 100%);
    background:
      linear-gradient(to right,
        hsl(0, 0%, 100%) 37%,
        hsla(0, 0%, 100%, 0.99134) 40.9%,
        hsla(0, 0%, 100%, 0.96967) 44.6%,
        hsla(0, 0%, 100%, 0.93274) 48.8%,
        hsla(0, 0%, 100%, 0.87986) 52.2%,
        hsla(0, 0%, 100%, 0.81256) 58.6%,
        hsla(0, 0%, 100%, 0.73548) 62.9%,
        hsla(0, 0%, 100%, 0.65107) 68.4%,
        hsla(0, 0%, 100%, 0.56332) 72.3%,
        hsla(0, 0%, 100%, 0.47418) 78.9%,
        hsla(0, 0%, 100%, 0.38463) 82.5%,
        hsla(0, 0%, 100%, 0.29699) 88.3%,
        hsla(0, 0%, 100%, 0.21156) 92.6%,
        hsla(0, 0%, 100%, 0.1317) 95.5%,
        hsla(0, 0%, 100%, 0.05856) 98.2%,
        hsla(0, 0%, 100%, 0));
    padding: 10px;
    color: $text-color--muted;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../img/boat-card-example.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 50%;
      z-index: -1;
    }
  }

  &__additional-info-btn {
    @extend .route-card__additional-info-btn;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 250ms ease-in,
      visibility 0s ease-in 250ms;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    margin-bottom: 0.175rem;
    line-height: 1.2em;
    max-width: 100px;
  }

  &__capacity {
    font-size: $font-size--smallest;
    margin-bottom: 0.25rem;

    svg {
      vertical-align: middle;
      transform: translate(-0.075rem,-0.075rem);
      margin-right: 0.25rem;
    }
  }

  &__cost {
    font-size: $font-size--smaller;
    color: $color-accent;
    font-weight: 700;
  }

  &__select-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: $color-accent;
    color: $text-color--lightest;
    font-size: $font-size--smaller;
    font-weight: 700;
    padding: 0.35em 0.9em;
    border-radius: $border-radius * 0.7;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 250ms ease-in,
      visibility 0s ease-in 250ms;
  }

  &:hover,
  &:active,
  &.is-active {

    .boat-card__additional-info-btn,
    .boat-card__select-btn {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 250ms ease-in,
        visibility 0s ease-in 0s;
    }
  }
}