mixin boatCard (name, amount, cost)
  .boat-card&attributes(attributes)!= text
    .boat-card__inner
      button.boat-card__additional-info-btn(type="button")
          svg(width="20" height="20"): use(xlink:href="#icon--info-transparent")
      .boat-card__title #{name}
      .boat-card__capacity
        svg(width="13" height="15"): use(xlink:href="#icon--man")
        | До #{amount} чел.
      .boat-card__cost #{cost} ₽
      button.boat-card__select-btn(type="button") Выбрать