.select-type-of-service {
  background-color: $bg-color--default;
  color: $text-color--muted;
  border-radius: $border-radius * 2;
  min-width: 300px;
  max-width: 620px;
  width: 300px;
  text-align: center;
  padding: 10px;
  padding-top: 40px;
  display: none;
  margin: 10px;

  @media (min-width: $screen-sm) {
    min-width: 620px;
    padding: 30px;
  }

  &__cover {
    margin-bottom: 1rem;
  }

  &__title {
    color: $color-accent;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__desc {
    margin-bottom: 2rem;
  }
}