article.ordering
  +closeUpBtn
  header.ordering__header
    .ordering__cover
      svg(width="60" height="60"): use(xlink:href="#captains-hat")
    h1.ordering__title Оформление заказа
    p.ordering__desc
      span Уважаемый Джек Воробей!<br>
      | Пожалуйста, проверьте правильность данных перед оплатой.
  .ordering__content
    table.ordering__table
      tbody
        tr
          td.ordering__table-title Дата
          td.ordering__table-desc 17 апреля 2018 г.
        tr
          td.ordering__table-title Время
          td.ordering__table-desc 15:00
        tr
          td.ordering__table-title Пассажиры
          td.ordering__table-desc 4 человека
        tr
          td(colspan="2").ordering__table-delimiter
        tr
          td.ordering__table-title Маршрут
          td.ordering__table-desc «Круговой обзорный»
        tr
          td.ordering__table-title Длительность
          td.ordering__table-desc.ordering__table-desc--muted 45 минут
        tr
          td(colspan="2").ordering__table-delimiter
        tr
          td.ordering__table-title Судно
          td.ordering__table-desc Мария Тереза 3000 UXD
        tr
          td.ordering__table-title Вместимость
          td.ordering__table-desc.ordering__table-desc--muted до 5 человек
        tr
          td(colspan="2").ordering__table-delimiter
        tr
          td.ordering__table-title Отправление
          td.ordering__table-desc прч. Парка 300-летия 1
    table.ordering__total-cost
      tbody
        tr
          td.ordering__total-cost-title Итого к оплате
          td.ordering__total-cost-result 14 000 ₽
  footer.ordering__footer
    form.ordering__payment-method
      h2.ordering__payment-method-title Способ оплаты
      .ordering__payment-method__btns
        .ordering__payment-method__btn
          +btn('Наличные', 'full-width').form__btn
        .ordering__payment-method__btn
          +btn('Картой онлайн', 'full-width').form__btn
      .ordering__resolution
        .form__checkbox
          input#offer.form__checkbox-hidden(type='checkbox', name='offer')
          label.form__checkbox-field(for='offer')
          label.form__checkbox-label(for='offer') Согласие с условиями оферты
      .ordering__order-btn
        +btn('Оплатить заказ', 'full-width')(href="#" id="go-to-complete")
