.ordering {
  @extend .sign-in;
  display: none;

  @media (min-width: $screen-sm) {
    width: 540px;
  }

  &__header {
    @extend .sign-in__header;
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }

  &__cover {
    @extend .sign-in__cover;
  }

  &__title {
    @extend .sign-in__title;
  }

  &__desc {
    @extend .sign-in__desc;

    span {
      color: $blue;
      font-weight: 600;
    }
  }

  &__table {
    width: 100%;
    color: $text-color--muted;
    margin-bottom: 30px;
    font-size: 0.875rem;

    tr {
      line-height: 22px;
    }
  }

  &__table-title {

    @media (min-width: $screen-sm) {
      padding: 0 12px;
    }
  }

  &__table-desc {
    text-align: right;
    color: $blue;
    font-weight: 600;

    @media (min-width: $screen-sm) {
      padding: 0 12px;
    }

    &--muted {
      color: $text-color--muted;
    }
  }

  &__table-delimiter {
    padding: 11px 0;
  }

  &__total-cost {
    font-weight: 600;
    width: 100%;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__total-cost-title {
    color: $text-color--muted;
    vertical-align: middle;

    @media (min-width: $screen-sm) {
      padding: 24px 12px;
    }
  }

  &__total-cost-result {
    text-align: right;
    font-size: 1.25rem;
    color: $color-accent;
    vertical-align: middle;
    padding: 24px 0;

    @media (min-width: $screen-sm) {
      padding: 24px 12px;
    }
  }

  &__payment-method {
    width: 100%;
  }

  &__payment-method-title {
    color: $text-color--muted;
    font-weight: 600;
    padding: 0 12px;
    margin-bottom: 14px;
  }

  &__payment-method__btns {
    display: table;
    width: 100%;
  }

  &__payment-method__btn {
    width: 50%;
    display: table-cell;

    &:first-child {
      padding-right: 5px;
    }

    &:last-child {
      padding-left: 5px;
    }

    .form__btn {
      text-align: left;
      border: 0;
    }
  }

  &__resolution {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &__order-btn {
    margin: -19px;
    padding-top: 30px;

    .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: $screen-sm) {
      margin: -30px;
    }
  }
}