mixin routeCard (title, time, cost)

  if (typeof(cost) !== 'undefined' && cost)
    .route-card.card&attributes(attributes)!= text
      .route-card__inner
        button.route-card__additional-info-btn(type="button")
          svg(width="20" height="20"): use(xlink:href="#icon--info")
        .route-card__info
          h3.route-card__title #{title}
          .route-card__duration
            h4.route-card__subtitle Длительность
            .route-card__time
              svg(width="15" height="15"): use(xlink:href="#icon--clock-fill")
              | #{time} минут
          .route-card__additional-cost
            h4.route-card__subtitle Длительность
            .route-card__cost + #{cost} ₽
        button.route-card__select-btn(type="button") Выбрать

  else
    .route-card.card&attributes(attributes)!= text
      .route-card__inner
        button.route-card__additional-info-btn(type="button")
          svg(width="20" height="20"): use(xlink:href="#icon--info")
        .route-card__info
          h3.route-card__title #{title}
          .route-card__duration
            h4.route-card__subtitle Длительность
            .route-card__time
              svg(width="15" height="15"): use(xlink:href="#icon--clock-fill")
              | #{time} минут
        button.route-card__select-btn(type="button") Выбрать