.route-card {
  @extend .card;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__inner {
    width: 100%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-radius: $border-radius;
    background: $bg-gradient--in-card,
      url(../img/route-card-map-example.png);
    padding: 10px;
    color: $text-color--muted;
  }

  &__additional-info-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    cursor: pointer;
  }

  &__info {
    max-width: 70%;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    margin-bottom: 1.25rem;

    &::after {
      position: absolute;
      content: '';
      background-color: $border-color;
      height: 1px;
      width: 157px;
      left: 1px;
      bottom: -0.7rem;
    }
  }

  &__subtitle {
    margin-bottom: 0.5rem;
    font-size: $font-size--smallest;
    font-weight: 400;
  }

  &__duration {
    display: inline-block;

    svg {
      vertical-align: middle;
      transform: translate(-0.075rem,-0.075rem);
      margin-right: 0.25rem;
    }
  }

  &__time {
    font-weight: 700;
    font-size: $font-size--smaller;
  }

  &__additional-cost {
    display: inline-block;
    border-left: 1px solid $border-color;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }

  &__cost {
    color: $color-accent;
    font-size: $font-size--smaller;
    font-weight: 700;
  }

  &__select-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: $color-accent;
    color: $text-color--lightest;
    font-size: $font-size--smaller;
    font-weight: 700;
    padding: 0.35em 0.9em;
    border-radius: $border-radius * 0.7;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 250ms ease-in,
      visibility 0s ease-in 250ms;
  }

  &:hover,
  &:active {

    .route-card__select-btn {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 250ms ease-in,
        visibility 0s ease-in 0s;
    }
  }
}