extends pug/layout

block meta
  - var title = 'Главная'
  title= title
  meta(name='description', content='')

block content
  +pageHeader

  .promo
    .promo__inner
      .promo__logo.logo
        svg: use(xlink:href="#logo-icon")

      h1.promo__slogan
        | Путешествуйте с помощью 5749 судов по всему Миру!
      form.search-form(action="submit")
        svg.search-form__point-icon(width="12" height="14"): use(xlink:href="#search-point")
        svg.search-form__blue-dot-icon(width="24" height="24"): use(xlink:href="#icon--blue-dot-point")
        input.search-form__input(type="search", placeholder="Какой город вас интересует?")
        btn.search-form__submit(type="submit" data-text="Найти!")


  include blocks/main-nav/main-nav

  .select-type-of-service#select-form
    +closeUpBtn
    .select-type-of-service__header
      .select-type-of-service__cover
        svg(width="60" height="60"): use(xlink:href="#captains-hat")
      h2.select-type-of-service__title Выберите тип услуги
      p.select-type-of-service__desc Выбор услуги также всегда доступен в основном меню сайта.
      +serviceForm
        p.select-type-of-service__desc Заранее созданные маршруты для путешествия по лучшим местам города!
        +btn('Выбрать судно', 'full-width')(href="renting-a-boat-on-route.html")