extends pug/layout

block meta
  - var title = 'Аренда по маршруту'
  title= title
  meta(name='description', content='')

block content
  +pageHeader

  +mapSection
    include blocks/map-helper/map-helper

  include blocks/main-nav/main-nav
  include blocks/boat-full-info/boat-full-info

  .selected.selected--is-active
    button.selected__cancel-last-action(type="button")
      svg(width="21" height="13"): use(xlink:href="#arrow--left-with-tail")
    button.selected__close-btn(type="button")
    h3.selected__title Аренда по маршруту
    +routeShortDesc
    +routeSelect(data-object="route-selected" data-select="need-to-select").is-active
    .selected__desc-text Подходят 114 судов
    +boatSelect(data-object="boat-selected" data-select="need-to-select")
    +pierSelect(data-object="pier-selected" data-select="need-to-select")
    table.selected__total-cost
      tr
        td.selected__total-cost-title Итоговая стоимость
        td.selected__total-cost-result от 13 500 ₽
    +btn('Выбрать судно', 'secondary,  full-width')(href="sign-in-sign-up.html" id="selected-btn")

  .need-to-select.need-to-select--is-active
    h3.need-to-select__title Выберите маршрут
    button.need-to-select__close-btn(type="button")
    button.need-to-select__settings(type="button"): svg(width="22" height="20"): use(xlink:href="#icon--settings")
    .need-to-select__inner
      .need-to-select__list
        +routeCard('Круговой обзорный', 45)(data-object="route" data-route="first")
        +routeCard('Круговой обзорный', 60, 100)(data-object="route" data-route="second")
        +boatCard('Мария Тереза 3000 UXD', 5, 13000)(data-object="boat" data-boat="first-boat")
        +boatCard('Мария Тереза 3000 UXD', 7, 23000)(data-object="boat" data-boat="second-boat")
        +pierCard('Автоматический выгодный причал', 'Бесплатно')(data-object="pier" data-pier="first-pier")
        +pierCard('Автоматический выгодный причал', '150')(data-object="pier" data-pier="second-pier")