extends pug/layout

block meta
  - var title = 'Страница регистрации'
  title= title
  meta(name='description', content='')

block content
  +pageHeader

  .upper-layer
  .map-section
    .map-section__inner
      .map-section__helper
        include blocks/map-helper/map-helper

  include blocks/order/order
  include blocks/sign-in/sign-in
  include blocks/sign-up/sign-up
  include blocks/ordering/ordering
  include blocks/order-is-completed/order-is-completed
