// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$blue:                        #0070bf;

$color-accent:                #ff4d4d;

$text-color:                  $gray-darker;
$text-color--muted:           #95989a;
$text-color--lighter:         #c6c9cc;
$text-color--lightest:        $white;

$bg-color--default:           $white;
$bg-color--lighter:           $gray-lighter;
$bg-color--darker:            $gray-darker;

$bg-gradient:                 radial-gradient(
  50% 100%,
  rgba(0,112,191,0.48) 50%,
  rgba(0,112,191,0.8) 100%);

$bg-gradient--lighter:        radial-gradient(
  circle at center,
  transparent 0,
  rgba(0,112,191,0.2) 70%,
  rgba(0,112,191,0.6) 100%);

$bg-gradient--in-card:        linear-gradient(
  to right,
  white,
  cubic-bezier(0.65, 0.02, 0.58, 0.68),
  transparent
);

$box-shadow--border:          0 0 0 1px #c6c9cc;
$box-shadow--blue:            0 3px 10px 0 rgba(0,150,255,0.20);
$box-shadow--gray:            0 5px 20px 0 rgba(0,0,0,0.20);

$hamburger-color:             $white;
$hamburger-width:             20px;
$hamburger-height:            20px;

$border-color:                #c6c9cc;
$border-radius:               10px;


// Typography

$font-family:                 "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
$font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;