.search-form {
  position: relative;
  width: 300px;
  transition: transform 0.3s cubic-bezier(.86,.13,.2,.91) 0s;

  @media (min-width: $screen-sm) {
    width: 320px;
  }

  &__point-icon {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    z-index: 3;
  }

  &__blue-dot-icon {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    transition: all 0.3s cubic-bezier(.86,.13,.2,.91) 0s;
    z-index: 3;
  }

  &__input {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    -webkit-appearance: none;
    font-size: 1rem;
    font-family: $font-family;
    font-weight: 600;
    border: 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow--blue;
    transition: all 0.3s cubic-bezier(.86,.13,.2,.91) 0s;
    text-align: center;
    z-index: 2;
    outline: none;

    @media (min-width: $screen-sm) {
      text-align: left;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__submit {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $border-radius;
    background-color: $color-accent;
    color: $text-color--lightest;
    font-size: 0.875rem;
    border: 0;
    height: 50px;
    min-width: 100%;
    font-weight: 600;
    box-shadow: 0 3px 10px 0 rgba(255,77,77,0.20);
    opacity: 1;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1em;
    transition:
        opacity 0.2s cubic-bezier(.86,.13,.2,.91) 0s,
        top 0.3s cubic-bezier(.86,.13,.2,.91) 0s,
        height 0.3s cubic-bezier(.86,.13,.2,.91) 0s;
    z-index: 1;

    &::after {
      position: absolute;
      content: attr(data-text);
      bottom: 1.125rem;
      left: 50%;
      transform: translate(-50%,0);
    }

    @media (min-width: $screen-sm) {
      min-width: 72px;
      left: 110%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.2s cubic-bezier(.86,.13,.2,.91) 0.1s,
        left 0.3s cubic-bezier(.86,.13,.2,.91) 0s,
        visibility 0s cubic-bezier(.86,.13,.2,.91) 0.3s;

        &::after {
          bottom: 50%;
          transform: translate(-50%,50%);
        }
    }
  }

  &--is-active {

    .search-form__submit {
      opacity: 1;
      top: 50%;
      height: calc(50px + 50%);
    }

    @media (min-width: $screen-sm) {
      transform: translateX(-60px);

      .search-form__blue-dot-icon {
        right: -1rem;
      }

      .search-form__input {
        width: 380px;
        padding-right: 90px;
        z-index: 1;
      }

      .search-form__submit {
        height: 50px;
        top: 0;
        right: 0;
        visibility: visible;
        opacity: 1;
        left: 110%;
        z-index: 2;
        transition:
          opacity 0.2s cubic-bezier(.86,.13,.2,.91) 0s,
          left 0.3s cubic-bezier(.86,.13,.2,.91) 0s;
      }
    }
  }
}
