.gallery-slider {

  &__item {
    height: 170px;
    width: 100%;
    display: block;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-md) {
      height: 540px;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $screen-md) {
      bottom: 26px;
    }
  }

  .owl-dots .owl-dot span {
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
    width: 6px;
    height: 6px;
  }

  .owl-dots .owl-dot.active span,
  .owl-dots .owl-dot:hover span {
    transform: scale3d(1.8, 1.8, 1);
    background-color: $white;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;
    outline: none;

    svg {
      width: 40px;
      height: 60px;
      padding: 5px;

      polyline {
        stroke-width: 2;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 5;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 7;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-prev {
    left: 20px;
  }

  .owl-next {
    right: 20px;

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}