.form {

  &__group {
    margin-bottom: 10px;

    &--delimiter {
      margin-bottom: 20px;
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  &__input {
    border: 0;
    min-height: 3rem;
    background-color: $bg-color--default;
    color: $text-color--muted;
    box-shadow: 0 0 0 1px $border-color;
    width: 100%;
    border-radius: $border-radius;
    padding: 15px 1rem;
    font-size: $font-size--smaller;
    font-weight: 600;

    &::placeholder {
      color: $text-color--lighter;
    }
  }

  textarea {
    border: 0;
    min-height: 3rem;
    background-color: $bg-color--default;
    color: $text-color--muted;
    box-shadow: 0 0 0 1px $border-color;
    width: 100%;
    border-radius: $border-radius;
    padding: 15px 1rem;
    font-size: $font-size--smaller;
    font-weight: 600;
    resize: none;
    height: 3rem;

    &::placeholder {
      color: $text-color--lighter;
    }
  }

  &__btn {
    background-color: $bg-color--default;
    color: $text-color--muted;
    box-shadow: 0 0 0 1px $border-color;
    padding-left: 13px;
    padding-right: 13px;

    &:hover,
    &:active {
      box-shadow: $box-shadow--gray;
    }
  }

  &__checkbox {
    position: relative;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__checkbox-hidden {
    display: none;

    &:checked ~ .form__checkbox-field {
      border-color: $text-color--muted;;
      background: transparent;
    }

    &:checked ~ .form__checkbox-field:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }

  &__checkbox-field {
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    border: 1px solid $text-color--lighter;
    border-radius: $border-radius;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: inline-block;
  }

  &__checkbox-field:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    width: 9px;
    height: 15px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid $text-color--muted;;
    border-bottom: 2px solid $text-color--muted;;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }

  &__checkbox-label {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0.125rem;
    font-size: 16px;
    margin-left: 0.75rem;
    vertical-align: middle;
    cursor: pointer;
    color: $text-color--lighter;
    line-height: 1.7em;
  }
}