article.sign-up
  button.sign-up__cancel-action-btn(type="button"): span
  +closeUpBtn
  header.sign-up__header
    .sign-up__cover
      svg(width="60" height="60"): use(xlink:href="#captains-hat")
    h1.sign-up__title Вход в систему
    p.sign-up__desc Для оформления заказа,<br>пожалуйста, войдите в систему
  .sign-up__content
    form.sign-up__form.form
      .sign-up__form-block
        .sign-up__form-block-inner
          .sign-up__form-row
            .sign-up__group
              .form__group
                label.form__label(for="name")
                input.form__input(type="text" placeholder="Имя" id="name")
            .sign-up__group
              .form__group
                label.form__label(for="surname")
                input.form__input(type="text" placeholder="Фамилия" id="surname")
        .sign-up__form-block-inner
          .sign-up__form-row
            .sign-up__group
              .form__group
                .sign-up__form-switch
                  span.sign-up__form-switch-title Пол
                  +switchFrom
            .sign-up__group
              .form__group
                label.form__label(for="password")
                input.form__input(type="password" placeholder="Пароль" id="password")
      .sign-up__form-block
        .sign-up__form-block-inner
          .sign-up__form-row
            .sign-up__group
              .form__group
                label.form__label(for="phone-number")
                input.form__input(type="tel" placeholder="Телефон" id="phone-number")
        .sign-up__form-block-inner
          .sign-up__group
            .form__group
              label.form__label(for="e-mail")
              input.form__input(type="email" placeholder="E-mail" id="e-mail")
      .sign-up__form-row
        .sign-up__group.form__group
          .form__checkbox
            input#resolution.form__checkbox-hidden(type='checkbox', name='resolution')
            label.form__checkbox-field(for='resolution')
            label.form__checkbox-label(for='resolution') Согласие с условиями оферты
      .sign-up__form-row
        .sign-up__group
          +btn('Войти и продолжить', 'full-width')(href="#" id="go-to-ordering")
  .sign-up__footer
    .sign-up__subtitle Регистрация с помощью
    include ../social/social