.sign-up {
  @extend .sign-in;
  padding: 10px;
  display: none;

  @media (min-width: $screen-sm) {
    width: 620px;
    padding: 30px;
  }

  &__header {
    @extend .sign-in__header;
  }

  &__cover {
    @extend .sign-in__cover;
  }

  &__title {
    @extend .sign-in__title;
  }

  &__desc {
    @extend .sign-in__desc;
  }

  &__cancel-action-btn {
    @extend .sign-in__cancel-action-btn;
  }

  &__subtitle {
    text-align: center;
    color: $text-color--lighter;
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
  }

  &__form {
    margin-bottom: 20px;
  }

  &__form-switch {

    @media (min-width: $screen-sm) {
      padding-left: 1rem;

      @supports (display: flex) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__form-switch-title {
    line-height: 3rem;
    font-weight: bold;
    font-size: 0.875rem;
    color: $text-color--muted;
    display: none;

    @media (min-width: $screen-sm) {
      display: inline;
    }
  }

  &__form-block {
    margin-left: -5px;
    margin-right: -5px;

    &:first-child {
      margin-bottom: 20px;
    }

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    @media (min-width: $screen-sm) {

      &:first-child {
        margin-bottom: 30px;
      }
    }
  }

  &__form-block-inner {
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }

  &__form-row {

    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__group {
    float: left;
    width: 100%;
  }

  &__footer {
    text-align: center;
  }

  .form__checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
}