.hamburger {
  display: inline-block;
  width: $hamburger-width;
  height: $hamburger-height;
  position: relative;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  > span {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $hamburger-color;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: inherit;
      height: 3px;
      width: 100%;
      display: block;
      left: 0;
    }

    &::before {
      top: -0.45rem;
    }

    &::after {
      top: 0.45rem;
    }
  }
}